.App {
  background-color: black;
  color: white;
  text-align: center;
}

.board {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}
.square {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 4rem;
  cursor: pointer;
}
.square.winning {
  background-color: lightgreen;
}

.game {
  text-align: center;
}
.info {
  margin: 20px;
  font-size: 3rem;
}
.reset-btn {
  padding: 10px 20px;
  width: 95%;
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
  background-color: red;
  color: White;
  border-radius: 10px;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
